#selected-courses {
    position: relative;

    flex-grow: 1;
    
    user-select: none;
    -moz-user-select: none;
}

#selected-courses .list {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    padding: .5rem 0;

    overflow-y: scroll;

    display: flex;
    flex-direction: column;


}

.sortable.course.item button.remove {
    background: rgba(0, 0, 0, .05);

}

.sortable.course.item .handle {
    padding-left: 1em;

    display: flex;
    align-items: center;
}

.sortable.course.item .handle.check.off::before {
    content: 'e';
}
.sortable.course.item .handle.check.on::before {
    content: 'E';
}

.sortable.course.item .handle.star.off::before {
    content: 's';
}
.sortable.course.item .handle.star.on::before {
    content: 'S';
}
