.app {
    font-family: var(--font-sans);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background-color: var(--bg-0);
    color: var(--fg-0);

    transition: background-color var(--theme-transition-duration),
        color var(--theme-transition-duration);

    display: grid;
    grid-template-areas: "main";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

    @media (--viewport-large) {
        grid-template-areas: "main sidebar";
        grid-template-columns: 1fr calc(100% / 3);
    }

    /* `h` stands for highlight */
    --hbg: #2878aa;
    --hfg: #efeae4;

    --theme-transition-duration: 200ms;
    --misc-transition-duration: 200ms;

    --font-sans: "Inter", sans-serif;
    --font-mono: "Roboto Mono", monospace;

    --shadow-color: #0008;

    &[data-theme="light"] {
        --bg-0: #ffffff;
        --bg-1: #efeae3;
        --bg-2: #cfcac3;
        --bg-3: #afaaa3;

        --fg-0: #2f2822;
        --fg-1: #4f4842;
        --fg-2: #6f6862;

        --highlight: #f80;
        --highlight-transparent: #f800;

        --shadow: #4b4b48;

        --palette-red: #f87171;
        --palette-orange: #eab308;
        --palette-green: #22c55e;
    }

    &[data-theme="dark"] {
        --bg-0: #2a2824;
        --bg-1: #3a3834;
        --bg-2: #4a4844;
        --bg-3: #5a5854;

        --fg-0: #efeae3;
        --fg-1: #cfcac3;

        --highlight: #f80;
        --highlight-transparent: #f800;

        --shadow: #6d6c6b;

        --palette-red: #ec4202;
        --palette-orange: #da9a03;
        --palette-green: #58a803;
    }
}

.main {
    grid-area: main;
    display: grid;
    grid-template-areas: "selector" "content";
    grid-template-rows: auto 1fr;

    min-height: 0;
}

.mainContent {
    grid-area: content;
    visibility: hidden;
    min-height: 0;
    display: grid;

    &.visible {
        visibility: visible;
    }
}

.sidebar {
    transition: border-left-color var(--theme-transition-duration);
    position: absolute;
    right: 0;

    display: grid;
    grid-template-areas: "toolbar" "minimap" "selected";
    grid-template-rows: auto 1fr 2fr;

    @media (--viewport-large) {
        position: relative;
        grid-area: sidebar;
        border-left: 1px solid var(--bg-1);
    }
}
