.padder {
    padding: 0.5rem 1rem 0 1rem;
    background-color: transparent;
}

.box {
    border-radius: 0.125rem;
    border: 1px solid var(--course-color);
    transition: border-color var(--theme-transition-duration);

    &.expand .titlebar .arrow {
        transform: rotate(90deg);
    }

    @nest [data-theme="dark"] & {
        --course-color: var(--course-color-dark);
        & .titlebar {
            color: white;
        }
    }

    @nest [data-theme="light"] & {
        --course-color: var(--course-color-light);
        & .titlebar {
            color: black;
        }
    }
}

.titlebar {
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--course-color);
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    display: flex;
    transition: background-color var(--theme-transition-duration),
        color var(--theme-transition-duration);

    & .arrow {
        align-self: center;
        margin-right: 0.5rem;
        transition: transform 200ms;
    }

    & .department {
        width: 5.5ex;
    }
    & .courseNumber {
        width: 3.5ex;
        text-align: center;
    }
    & .affiliation {
        width: 4ex;
        text-align: right;
        &::after {
            content: "-";
        }
    }
    & .sectionNumber {
        min-width: 3ex;
    }
    & .title {
    }
    & .status {
        margin-left: auto;
        font-weight: normal;
        font-size: calc(15em / 16);

        & .badge {
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            background-color: red;
            border-radius: 1rem;
            padding: 0 0.5rem;
            display: inline-block;
            text-align: center;
        }
        & .badgeOpen {
            background-color: var(--palette-green);
            &::after {
                content: "open";
            }
        }
        & .badgeClosed {
            background-color: var(--palette-red);
            &::after {
                content: "closed";
            }
        }
        & .badgeReopened {
            background-color: var(--palette-orange);
            &::after {
                content: "reopened";
            }
        }
        & .badgeUnknown {
            background-color: gray;
            &::after {
                content: "unknown";
            }
        }

        & .seatsFilled {
            display: inline-block;
            text-align: right;
            width: 3ex;
            font-weight: 500;
        }
        & .seatsTotal {
            display: inline-block;
            width: 3ex;
            font-weight: 500;
        }

        & .permCountLabel {
            visibility: hidden;
            &.nonzero {
                visibility: visible;
            }
        }

        & .permCount {
            display: inline-block;
            text-align: center;
            font-weight: 500;
            width: 3ex;
        }
    }
}

.expander {
    transition: height 200ms;
    overflow-y: hidden;
}

.details {
    padding: 0.5rem 1rem;
    line-height: 1.5em;
}
