.padder {
    padding: 0.5rem 1rem 0 1rem;
    background-color: transparent;
}

.box {
    border-radius: 0.125rem;
    border: 1px solid var(--course-color, --bg-1);
}

.titlebar {
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--course-color, --bg-1);
    color: black;
    padding: 0.25rem 0.5rem;
    font-weight: 500;
    display: flex;

    & .department {
        width: 5.5ex;
    }
    & .courseNumber {
        width: 3.5ex;
        text-align: center;
    }
    & .affiliation {
        width: 4ex;
        text-align: right;
        &::after {
            content: "-";
        }
    }
    & .sectionNumber {
        min-width: 3ex;
    }
    & .title {
    }
    & .status {
        margin-left: auto;
        font-weight: normal;
        font-size: calc(15em / 16);

        & .badge {
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            background-color: red;
            border-radius: 1rem;
            padding: 0 0.5rem;
            display: inline-block;
            text-align: center;
        }
        & .badgeOpen {
            background-color: green;
            &::after {
                content: "open";
            }
        }
        & .badgeClosed {
            background-color: red;
            &::after {
                content: "closed";
            }
        }
        & .badgeReopened {
            background-color: orange;
            &::after {
                content: "reopened";
            }
        }
        & .badgeUnknown {
            background-color: gray;
            &::after {
                content: "unknown";
            }
        }

        & .seatsFilled {
            display: inline-block;
            text-align: right;
            min-width: 3ex;
        }
        & .seatsTotal {
            display: inline-block;
            min-width: 3ex;
        }
    }
}

.expander {
    transition: height 200ms;
    overflow-y: hidden;
}

.details {
    padding: 0.5rem 1rem;
    line-height: 1.5em;
}
