.container {
    grid-area: selector;

    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr auto;
    background-color: var(--bg-1);
    transition: background-color var(--theme-transition-duration);

    &::before {
        content: "";
        background-color: var(--bg-0);
        position: absolute;
        width: 100%;
        height: 100%;

        grid-column: 1 / 2;
        grid-row: 1 / 2;

        transition:
            transform var(--menu-transition-duration),
            background-color var(--theme-transition-duration);
    }

    &.alt::before {
        transform: translateX(100%);
    }

    & .courseSearchButton,
    & .scheduleButton {
        font: inherit;
        padding: 0.5rem;
        border: none;
        cursor: pointer;
        background-color: transparent;
        color: inherit;
        position: relative;
    }

    &.alt {
        & .scheduleButton {
            cursor: initial;
        }

        & .courseSearchButton {
            cursor: pointer;
        }
    }

    .showSidebar {
        & button {
            height: 100%;
            border-left: 0.125em solid var(--bg-2);
            transition: border-left var(--menu-transition-duration);
        }

        .alt & {
            background-color: var(--bg-1);

            & button {
                border-left: 0.125em solid transparent;
            }
        }
    }
}
