.hidden {
    visibility: hidden;
    opacity: 0;
}

.minimapContainer {
    grid-area: minimap;

    display: grid;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "day-label ."
        "minimap time-label";
    padding: 0 1rem 1rem 1rem;

    & .minimapLabelTime,
    & .minimapLabelDay {
        font-size: 0.875rem;
        color: var(--fg-1);
    }

    & .minimapLabelTime {
        height: 100%;
        width: 1.5em;
        grid-area: time-label;

        display: grid;
        /* necessary on firefox to make things display correctly */
        position: relative;

        transition: grid-template-rows var(--misc-transition-duration);

        & .startHour,
        & .endHour {
            transition: opacity var(--misc-transition-duration);

            /*on chrome, if we specify the writing mode on parent it will rotate the entire grid*/
            writing-mode: vertical-lr;
        }

        & .startHour {
            grid-row: 1;
        }

        & .endHour {
            position: absolute;
            transform: translateY(-100%);
        }

        & .timeIconContainer {
            position: absolute;
            transform: translateY(-50%);

            &.start {
                transform: none;
            }

            &.end {
                transform: translateY(-100%);
            }

            & .timeIcon {
                width: 1em;
                padding-left: 0.25em;
            }
        }
    }

    & .minimapLabelDay {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 1.5em;
        grid-area: day-label;
    }

    & .minimap {
        overflow: clip;
        border: 1px solid var(--bg-2);
        border-radius: 0.25rem;
        width: 100%;
        height: 100%;
        position: relative;
        grid-area: minimap;
    }
}

.grid {
    display: grid;

    position: absolute;
    top: 0;
    left: 0;
    transition:
        transform var(--misc-transition-duration),
        width var(--misc-transition-duration),
        height var(--misc-transition-duration),
        background-color var(--theme-transition-duration);

    background-color: var(--bg-1);
    grid-template-areas: "U M T W R F S";
    grid-template-rows: repeat(calc(24 * 12), 1fr);

    height: calc(24 / (var(--end-hour) - var(--start-hour)) * 100%);

    &:not(.showSunday) {
        transform: translate(
            calc(-100% / 7),
            calc(var(--start-hour) / 24 * -100%)
        );
    }

    &.showSunday {
        transform: translate(0, calc(var(--start-hour) / 24 * -100%));
    }

    &.showSunday.showSaturday {
        width: 100%;
    }

    &.showSunday:not(.showSaturday),
    &.showSaturday:not(.showSunday) {
        width: calc(7 / 6 * 100%);
    }

    &:not(.showSunday):not(.showSaturday) {
        width: calc(7 / 5 * 100%);
    }

    grid-template-columns: repeat(7, 1fr);

    & .rowLine {
        grid-column: 1 / -1;
        border-top: 1px dashed var(--bg-2);
    }

    & .slice {
        background-color: var(--section-color);
        cursor: pointer;

        transition: margin var(--misc-transition-duration);
        grid-column: 1 / -1;

        [data-theme="dark"] & {
            color: white;
        }

        [data-theme="light"] & {
            color: black;
        }

        &.hover {
            border: 0.25em solid var(--section-highlight);
        }

        &.highlight {
            border: 0.125em dashed var(--highlight);
        }
    }

    & .expandOutline {
        border: 0.125em dashed var(--highlight);
        border-radius: 0.25em;
        z-index: 2;
    }
}
