.minimapContainer {
    grid-area: minimap;

    display: grid;

    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "day-label ."
        "minimap time-label";
    padding: 0 1rem 1rem 1rem;

    & .minimapLabelTime,
    & .minimapLabelDay {
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 0.875rem;
        color: var(--fg-1);
    }

    & .minimapLabelTime {
        height: 100%;
        width: 1.5em;
        writing-mode: vertical-lr;
        grid-area: time-label;
    }

    & .minimapLabelDay {
        width: 100%;
        height: 1.5em;
        grid-area: day-label;
    }

    & .minimap {
        overflow: hidden;
        border-radius: 0.25rem;
        width: 100%;
        height: 100%;
        position: relative;
        grid-area: minimap;
    }
}

.grid {
    display: grid;

    position: absolute;
    top: 0;
    left: 0;
    transition:
        transform var(--misc-transition-duration),
        width var(--misc-transition-duration),
        height var(--misc-transition-duration),
        background-color var(--theme-transition-duration);

    background-color: var(--bg-1);
    grid-template-areas: "U M T W R F S";
    grid-template-rows: repeat(calc(24 * 12), 1fr);

    height: calc(24 / (var(--end-hour) - var(--start-hour)) * 100%);
    &:not(.showSunday) {
        transform: translate(
            calc(-100% / 7),
            calc(var(--start-hour) / 24 * -100%)
        );
    }
    &.showSunday {
        transform: translate(0, calc(var(--start-hour) / 24 * -100%));
    }

    &.showSunday.showSaturday {
        width: 100%;
    }

    &.showSunday:not(.showSaturday),
    &.showSaturday:not(.showSunday) {
        width: calc(7 / 6 * 100%);
    }

    &:not(.showSunday):not(.showSaturday) {
        width: calc(7 / 5 * 100%);
    }

    grid-template-columns: repeat(7, 1fr);

    & .rowLine {
        grid-column: 1 / -1;

        &.noon,
        &.evening {
            //border-top: 1px solid var(--bg-3);
        }
    }

    & .cardGroup {
        display: grid;
        overflow: hidden;

        & .slice {
            background-color: var(--section-color);
            border: 2px solid transparent;
            cursor: pointer;

            [data-theme="dark"] & {
                color: white;
            }
            [data-theme="light"] & {
                color: black;
            }

            &.hover {
                border: 2px solid var(--highlight);
            }
        }
    }

    /*
    & .card {
        background: var(--section-color);
        font-size: 0.75rem;
        border-radius: 0.125rem;
        padding: 0.125rem 0.25rem;
        margin: 0.125rem;
        text-align: center;
        z-index: 1;
        cursor: pointer;

        border: 1px solid transparent;
        transition: margin var(--misc-transition-duration);

        margin-left: calc(0.125rem * (2 * var(--stack-order) + 1));
        margin-top: calc(0.125rem * 2 * var(--stack-order));
        margin-right: calc(0.125rem * (2 * var(--reverse-stack-order) + 1));
        margin-bottom: calc(0.125rem * 2 * var(--reverse-stack-order));


         [data-theme="dark"] & {
            --section-color: color-mix(
                in srgb,
                var(--section-color-light) 50%,
                var(--bg-1)
            );
            color: white;
        }
         [data-theme="light"] & {
            --section-color: var(--section-color-light);
            color: black;
        }

        &.highlight {
            border-color: var(--highlight);
        }
    }
    */

    & .expandOutline {
        border: 2px dashed var(--highlight);
        background-color: color-mix(
            in srgb,
            var(--highlight) 25%,
            var(--highlight-transparent)
        );
        border-radius: 0.25em;
        z-index: 2;
    }
}
