.container {
    min-height: 0;
}

.list {
    overflow-y: scroll;
}

.entry {
    display: grid;
    grid-template-columns: auto 1fr;

    background-color: var(--section-color);
}

.list[data-reordering] .entry {
    cursor: grab;
}
