.container {
    grid-area: selected;
    min-height: 0;
}

.list {
    overflow-y: auto;
    height: 100%;

    .textContainer {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
    }
}

.entry {
    display: flex;
    align-items: center;
    background-color: var(--section-color);
    font-size: 0.875rem;
    position: relative;
    transition:
        filter var(--misc-transition-duration),
        background-color var(--misc-transition-duration);

    padding: 0.125rem;
    margin-bottom: 0.5rem;

    border: 0.125em solid var(--section-color);
    border-radius: 0.125em;
    box-sizing: content-box;

    &.unselected {
        background-color: transparent;
        color: var(--fg-1);

        //border: 0.125em solid var(--bg-1);

        & .badge {
            filter: saturate(50%);
        }
    }

    & .sectionInfo {
        flex-basis: 100%;

        display: grid;
        position: relative;
        align-items: center;
        justify-items: center;

        grid-template-areas:
            "code conflict seats"
            "title conflict badge";

        grid-template-columns: 1fr 1em 5.5em;
        gap: 0.5em;

        @media (--viewport-large) {
            grid-template-areas: "code title conflict badge seats";
            /* sections with 3 digits enrollments (e.g. colloquiums) are about 3.3em wide */
            grid-template-columns: auto 1fr 1em 5.5em 4em;

            gap: 0.375em;

            & .badge {
                justify-self: self-end;
            }

            & .seats {
                justify-self: self-end;
            }
        }

        user-select: none;
        cursor: pointer;

        & .badge {
            grid-area: badge;
        }

        & .seats {
            grid-area: seats;
        }

        & .conflictingIcon {
            grid-area: conflict;

            & svg {
                width: 1em;
                height: 1em;
            }
        }

        & .code {
            grid-area: code;
            justify-self: self-start;

            font-weight: bold;
            min-width: 8.5em;
            font-size: 0.875em;
        }

        & .title {
            grid-area: title;
            justify-self: self-start;

            overflow: clip;
            text-overflow: ellipsis;
            white-space: nowrap;

            position: absolute;
            width: 100%;
        }
    }

    & button {
        background-color: transparent;
        border: none;
        appearance: none;
        color: var(--fg-1);

        &:hover {
            cursor: pointer;
        }

        padding: 0.25em;
        box-sizing: content-box;

        &,
        & svg {
            width: 1.25em;
            height: 1.25em;
        }
    }

    & .selectButton {
        padding-right: 0.5em;
    }

    & .deleteButton {
        padding-left: 0.5em;
    }
}

.credits {
    grid-area: credits;
    text-align: center;
}
