.handle {
    position: fixed;
    top: 0;
    right: 0;
    width: 3em;
    height: 3em;
    appearance: none;
    box-sizing: border-box;
    border-radius: 0.125em;
    font-size: 1em;
    font-family: inherit;
    border: none;
    cursor: pointer;
    background-color: transparent;
    z-index: 10;

    .handleIcon {
        width: 2.5em;
        height: 2.5em;
    }

    @media (--medium-only) {
        [data-schedule-tab] & {
            display: initial;
        }
    }

    @media (--medium-and-up) {
        display: none;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    backdrop-filter: blur(0.25rem) brightness(50%);

    transition: opacity var(--misc-transition-duration);

    &[data-show] {
        visibility: visible;
        opacity: 1;

        @media (--viewport-large) {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.icon {
    width: 1.5rem;
}

.renderingOptions {
    grid-area: rendering;
}

.scheduleSelect {
    grid-area: schedule-select;
    margin: 0.5em 1em;

    & .scheduleIcon {
        width: 1.75em;
        height: 1.75em;
        stroke-width: 1.25;
    }

    &,
    & .editScheduleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }

    & .dropdownContainer {
        height: 1.75em;
    }

    & .editScheduleButton {
        height: 1.75em;
    }
}

.sidebar {
    transition:
        background-color var(--theme-transition-duration),
        border-left-color var(--menu-transition-duration),
        transform var(--menu-transition-duration),
        grid-template-rows var(--menu-transition-duration),
        box-shadow var(--menu-transition-duration);

    min-height: 0;
    min-width: calc(min(24rem, 100vw));

    display: grid;
    grid-template-areas: "top" "toolbar" "minimap" "credits" "schedule-select" "rendering" "selected";

    &[data-tab="CourseSearch"] {
        grid-template-rows: auto auto 33.33% auto auto auto 1fr;
    }

    &[data-tab="Schedule"] {
        grid-template-rows: auto auto 0 auto auto auto 1fr;
    }

    background-color: var(--bg-0);

    & .top {
        display: flex;
        justify-content: flex-end;

        & button {
            background: none;
            color: inherit;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
        }
    }

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);

    &[data-show] {
        transform: translateX(0);
        box-shadow: 0 0 1rem #0008;
    }

    @define-mixin show-sidebar {
        transform: none;
        position: relative;

        grid-area: sidebar;
        border-left: 1px solid var(--bg-1);

        box-shadow: none;

        min-width: 0;

        & .top {
            display: none;
        }
    }

    @media (--medium-only) {
        [data-search-tab] & {
            @mixin show-sidebar;
        }
    }

    @media (--viewport-large) {
        @mixin show-sidebar;
    }
}

.toolbar {
    grid-area: toolbar;

    display: grid;
    grid-template-areas: "export login gap settings github about";
    grid-column-gap: 0.25em;
    grid-template-columns: auto auto 1fr auto auto;

    & .button {
        height: 1.75em;
    }

    & .iconOnlyButton {
        & .icon {
            width: 1.5em;
            height: 1.5em;
            stroke-width: 1.5;
        }
    }
    .settingsButton {
        grid-area: settings;
    }
    .loginButton {
        grid-area: login;
    }

    .exportButton {
        grid-area: export;
    }

    .aboutButton {
        grid-area: about;
    }

    .githubButton {
        grid-area: github;
    }
}
