.handle {
    grid-area: sidebar-handle;

    @media (--medium-only) {
        [data-schedule-tab] & {
            display: initial;
        }
    }

    @media (--medium-and-up) {
        display: none;
    }
}

.overlay {
    position: absolute;
    inset: 0;
    visibility: hidden;
    opacity: 0;
    cursor: pointer;
    backdrop-filter: blur(0.25rem) brightness(50%);

    transition: opacity var(--misc-transition-duration);

    &[data-show] {
        visibility: visible;
        opacity: 1;

        @media (--viewport-large) {
            visibility: hidden;
            opacity: 0;
        }
    }
}

.icon {
    width: 1.5rem;
}

.renderingOptions {
    grid-area: rendering;
}

.scheduleSelect {
    grid-area: schedule-select;
    margin: 0.5em 1em;

    & .scheduleIcon {
        width: 1.75em;
        height: 1.75em;
        stroke-width: 1.25;
    }

    &,
    & .editScheduleButton {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.25em;
    }

    & .dropdownContainer {
        height: 1.75em;
    }

    & .editScheduleButton {
        height: 1.75em;
    }
}

.sidebar {
    transition:
        background-color var(--theme-transition-duration),
        border-left-color var(--menu-transition-duration),
        transform var(--menu-transition-duration),
        grid-template-rows var(--menu-transition-duration),
        box-shadow var(--menu-transition-duration);

    min-height: 0;
    min-width: calc(min(24rem, 100vw));

    display: grid;
    grid-template-areas: "top" "minimap" "credits" "schedule-select" "rendering" "selected";

    &[data-tab="CourseSearch"] {
        grid-template-rows: auto 33.33% auto auto auto 1fr;
    }

    &[data-tab="Schedule"] {
        grid-template-rows: auto 0 auto auto auto 1fr;
    }

    background-color: var(--bg-0);

    & .top {
        display: flex;
        justify-content: flex-end;

        & button {
            background: none;
            color: inherit;
            border: none;
            cursor: pointer;
            padding: 0.5rem;
        }
    }

    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    transform: translateX(100%);

    &[data-show] {
        transform: translateX(0);
        box-shadow: 0 0 1rem #0008;
    }

    @define-mixin show-sidebar {
        transform: none;
        position: relative;

        grid-area: sidebar;
        border-left: 1px solid var(--bg-1);

        box-shadow: none;

        min-width: 0;

        & .top {
            display: none;
        }
    }

    @media (--medium-only) {
        [data-search-tab] & {
            @mixin show-sidebar;
        }
    }

    @media (--viewport-large) {
        @mixin show-sidebar;
    }
}
