#course-search {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
}

#course-search .search {
    display: flex;
    
    padding: 1rem;
    padding-top: 0;

    border-bottom: 1px solid whitesmoke;
}

#course-search .search input {
    flex-grow: 1;

    padding: .5em 1em;
    
    font: inherit;
    border-radius: 0;
    border: 1px solid lightgray;
    outline: .25em solid transparent;

    transition: border-color .1s;
    transition: outline-color .1s;
}
#course-search .search input:focus {
    border-color: deepskyblue;
    outline-color: lightskyblue;
}

#course-search .entries {
    flex-grow: 1;
}

#course-search .entries .ReactVirtualized__Grid {
    outline: none;
}

#course-search .entries .ReactVirtualized__Grid__innerScrollContainer {
    margin: .5rem 0;
}

#course-search .entries .entry {
    margin: .5rem 1rem;
 
    justify-content: space-between;
}

#course-search .entries button.add {
    background: rgba(0, 0, 0, .05);

    font-weight: bold;
}

#course-search .entries button::-moz-focus-inner {
    border: none;
}
