#schedule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    overflow-y: scroll;
}

#schedule .margin-container {
    margin: 1rem;
}

#schedule .size-container {
    position: relative;

    width: 100%;
    padding-top: 80%;
}

#schedule .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template: repeat(13, 1fr) / repeat(8, 1fr);
}

#schedule .background.layer .column {
    grid-row: 1 / -1;
}
#schedule .background.layer .column.even {
    background: whitesmoke;
}
#schedule .background.layer .column.odd {
}

#schedule .background.layer .row {
    grid-column: 1 / -1;
    border-bottom: 1px solid lightgray;
}




