#schedule {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#schedule .layer {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: .5em;
}

#schedule .background .cell {
    border: 1px solid lightgray;
}



