/* General styling */

* {
    font-family: sans-serif;
}

/* Page layout */

body {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}

/* Column layout */

.two-column-left {
    float: left;
    margin-left: 1.25%;
    margin-right: 1.25%;
    width: 45%;
}

.two-column-right {
    float: right;
    margin-left: 1.25%;
    margin-right: 1.25%;
    width: 45%;
}

/* Course search and selected courses */

.course-box {
    background-color: #f9edd4;
    display: block;
    margin: 10px auto;
    position: relative;
    width: 90%;
}

.course-box-text {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

/* Course search */

#course-search-column {
    border-style: solid;
}

#course-search-course-name-input {
    display: block;
    margin: 10px auto;
    width: 50%;
}

#course-search-results-list {
    margin: 0;
    padding: 0;
}

#course-search-column .course-box-text {
    display: inline-block;
    margin: 0;
    padding-right: 35px;
}

#course-search-column .course-box-add-button {
    height: 25px;
    margin-top: -12.5px;
    position: absolute;
    right: 5px;
    top: 50%;
    width: 25px;
}

/* Selected courses */

#selected-courses-column {
    border-style: solid;
}

#selected-courses-column .course-box-text {
    padding-right: 5px;
}

#selected-courses-column .course-box-add-button {
    display: none;
}
