/* General styling */

* {
    font-family: sans-serif;
}

.hidden {
    display: none;
}

.placeholder {
    visibility: hidden;
}

/* Page layout */

body {
    margin-top: 1.25%;
    margin-bottom: 1.25%;
}

/* Column layout */

.two-column-left {
    float: left;
    width: 70%;
}

.two-column-right {
    float: right;
    width: 30%;
}

.toolbar {
    display: table;
    min-height: 60px;
    margin: 0 auto;
    padding: 0;
    table-layout: fixed;
    width: 95%;
}

/* Course search and schedule */

#course-search-toggle-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#schedule-toggle-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#course-search-toggle {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
}

#schedule-toggle {
    cursor: pointer;
    display: block;
    margin: 0 auto;
    width: 100%;
}

/* Schedule */

#schedule-table {
    border: 1px solid #cccccc;
    margin: 0 auto;
    position: relative;
    table-layout: fixed;
    text-align: center;
    width: 95%;
}

#schedule-table th {
    height: 60px;
}

#schedule-table td {
    border: 1px solid #cccccc;
    height: 60px;
}

.schedule-slot {
    background-color: red;
    border-radius: 5px;
    display: table-cell;
    font-size: small;
    position: absolute;
    vertical-align: middle;
    width: 16.6667%;
}

.schedule-slot-text-wrapper {
}

/* Course search and selected courses */

.courses-list {
    list-style-type: none;
    margin: 1px 0;
    padding: 0;
}

.course-box {
    margin: 0 auto;
    padding: 10px 0;
    position: relative;
    width: 95%;
}

.course-box-content {
    background-color: #f9edd4;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.course-box-text {
    display: inline-block;
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
}

.course-box-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: none;
}

/* Course search */

#course-search-column {
    /* nothing to do here */
}

#course-search-course-name-input {
    display: block;
    margin: 10px auto;
    width: 50%;
}

#course-search-column .course-box-text {
    padding-right: 30px;
}

#course-search-column .course-box-add-button {
    display: block;
    height: 25px;
    margin-top: -12.5px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
}

/* Selected courses */

#selected-courses-column {
    /* nothing to do here */
}

#github-link {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

#import-export-data-button-wrapper {
    display: table-cell;
    vertical-align: middle;
}

#import-export-data-button {
    cursor: pointer;
    display: block;
    float: right;
    margin: 0 auto;
}

#selected-courses-column .course-box-text {
    padding-right: 30px;
}

#selected-courses-column .course-box-remove-button {
    display: block;
    height: 25px;
    margin-top: -12.5px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 25px;
}
