.course.block {
  position: relative;
}

.course.block .label {
  text-align: center;
}

.course.block .star {
  position: absolute;
  top: 0;
  left: 0;

  border-top: 1rem solid rgba(0, 0, 0, 0.2);
  border-right: 1rem solid transparent;

  visibility: hidden;
}

#schedule.active .course.block.starred .star {
  visibility: visible;
}
