.dropdown {
    position: relative;
    height: 100%;

    & select {
        /* we need this for firefox and safari*/
        appearance: none;
        text-align: center;
        outline: none;
        display: inline-block;
        border: none;
        user-select: none;
        /* apparently the default font size on some browser is like 0.7em or something*/
        font-size: 1em;
        padding-right: 1.5em;
        padding-left: 0.5em;

        width: 100%;
        height: 100%;

        background-color: transparent;
        color: var(--fg-0);
        transition: color var(--misc-transition-duration);

        & option:disabled {
            display: none;
            appearance: none;
        }
    }

    & .select {
        transition:
            color var(--misc-transition-duration),
            background-color var(--misc-transition-duration),
            border var(--misc-transition-duration);
        display: flex;
        align-items: center;
        height: 100%;
        background-color: var(--bg-0);
        color: var(--fg-0);
        border: 1px solid var(--bg-1);
        border-radius: 0.25em;

        & .downArrow {
            width: 1em;
            height: 1em;
            position: absolute;
            right: 0;
            pointer-events: none;
        }
    }
}
