& .dropdown {
    grid-area: dropdown;

    & select {
        transition: color var(--misc-transition-duration),
            background-color var(--misc-transition-duration),
            border var(--misc-transition-duration);
        display: block;
        height: 100%;
        outline: none;
        background-color: var(--bg-0);
        color: var(--fg-0);
        border: 1px solid var(--bg-1);
        border-radius: 0.25em;
    }
}
