#course-search {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;

    visibility: hidden;
    opacity: 0;
    transition: visibility .2s linear, opacity .2s linear;
}

#course-search.active {
    visibility: visible;
    opacity: 1;
}

#course-search .search {
    display: flex;
    
    padding: 1rem;
    padding-top: 0;

    border-bottom: 1px solid whitesmoke;
}

#course-search .search input {
    flex-grow: 1;

    padding: .5em 1em;
    
    font: inherit;
    border-radius: 0;
    border: 1px solid lightgray;
    outline: .25em solid transparent;

    transition: border-color .1s;
    transition: outline-color .1s;
}
#course-search .search input:focus {
    border-color: deepskyblue;
    outline-color: lightskyblue;
}

#course-search .entries {
    flex-grow: 1;
}

#course-search .entries .ReactVirtualized__Grid {
    outline: none;
}

#course-search .entries .ReactVirtualized__Grid__innerScrollContainer {
    margin: .5rem 0;
}
