#root {
    font-family: 'Roboto';
}

#root .columns {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;
}

#root .columns > .course.column {
    width: 30%;
    
    display: flex;
    flex-direction: column;
}
#root .columns > .mode.column {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#root .selector.container {
    display: flex;
}

#root .content.container {
    flex-grow: 1;
    position: relative;
}

