body {
    font-family: 'Roboto';
    overscroll-behavior: none;
}

#root .columns {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    
    display: flex;
    flex-direction: row;
}

#root .columns > .sidebar.column {
    width: 30%;

    border-left: 1px solid whitesmoke;
    
    display: flex;
    flex-direction: column;
}
#root .columns > .mode.column {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

#root .selector.container {
    display: flex;
}

#root .content.container {
    flex-grow: 1;
    position: relative;
}

#controls {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid whitesmoke;
}

#controls .button, #controls button {
    padding: .5em 1em;
    font: inherit;
    border: none;
    text-decoration: none;
    background: deepskyblue;
    color: white;
    cursor: pointer;
}

.course {
    font-size: .8rem;
    cursor: pointer;

    display: flex;
}


.course button {
    padding: 0 1em;
    
    background: none;
    border: none;
    outline: none;

    cursor: pointer;
}

button::-moz-focus-inner {
    border: none;
}

.course button.right {
    margin-left: auto;
}

.course.item {
    margin: .5rem 1rem;
}

.course .fields {
    padding: .5em 1em;
}


.course .fields .field.department,
.course .fields .field.courseNumber,
.course .fields .field.courseCodeSuffix,
.course .fields .field.school,
.course .fields .field.section {
    font-weight: bold;
}

.fields .department::after       { content: ' '  }
.fields .courseCodeSuffix::after { content: ' '  }
.fields .school::after           { content: '-'  }
.fields .section::after          { content: ' ' }
.fields .courseName::after       { content: ' '  }

.course .fields .courseStatus.field::before { content: '('              }
.course .fields .courseStatus.field::after  { content: ', '             }
.course .fields .openSeats.field::after     { content: '/'              }
.course .fields .totalSeats.field::after    { content: ' seats filled)' }



.course {
    background: aliceblue;
}
.course.school-PO {
    background: skyblue;
}
.course.school-HM {
    background: khaki;
}
.course.school-PZ {
    background: bisque;
}
.course.school-CM {
    background: pink;
}
.course.school-SC {
    background: lightgreen;
}



