/*
 * To see the outline of this file from Emacs, run M-x
 * outline-minor-mode and then press C-c @ C-t.
 */

/** General styling **/

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

body.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

.btn {
  @apply bg-gray-100 py-1 px-2 text-sm;
  &.btn-primary {
    @apply bg-blue-500 text-white;
  }
}

.dropdown-menu {
  min-width: 0;
  padding: 2px 0;
}

.hidden {
  display: none;
}

.placeholder {
  visibility: hidden;
}

.toolbar {
  @apply flex flex-row;

  button {
    @apply py-1 px-2;
    &.btn-primary {
      @apply bg-blue-500 text-white;
    }
  }

  .icon {
    @apply bg-blue-500 text-white text-xl px-1 py-0 ml-4 flex items-center
    transition-colors
    hover:bg-blue-600;
  }
}

/** Page layout **/

main {
  @apply absolute left-0 top-0 h-screen w-screen grid overflow-hidden;
  grid-template-rows: 100vh;

  #sidebar-open {
    @apply lg:hidden leading-none text-xl text-blue-600 hover:bg-blue-100 transition-colors;
  }

  #sidebar-close {
    @apply lg:hidden transition-colors hover:bg-gray-100;
  }

  #sidebar-overlay {
    @apply absolute top-0 left-0 w-screen h-screen z-20 bg-black opacity-0 invisible transition-all;
    &.show {
      @apply visible opacity-25;
    }
  }

  #selected-courses-column {
    @apply grid gap-y-4 absolute right-0 top-0 h-screen bg-white w-full z-20
    transform translate-x-full lg:translate-x-0 transition-all duration-300;
    max-width: 24rem;
    grid-template-rows: auto 1fr auto;

    @media (min-width: theme(screens.lg)) {
      grid-area: sidebar;
    }
    &.show {
      @apply translate-x-0 shadow-lg lg:shadow-none;
    }
  }

  grid-template-areas: "content";
  @media (min-width: theme(screens.lg)) {
    grid-template-areas: "content sidebar";
    grid-template-columns: 1fr 24rem;
  }

  #modal-layer {
    @apply absolute invisible inset-0 bg-black bg-opacity-25 z-30
    opacity-0 transition-all flex flex-col justify-around p-4;

    &.show {
      @apply visible opacity-100;
    }

    .modal {
      @apply hidden bg-white shadow-lg rounded text-sm min-h-0 grid mx-auto;
      grid-template-rows: auto 1fr auto;
      max-width: 40rem;

      header {
        @apply flex justify-between font-bold text-lg px-4 py-2;
      }

      .body {
        @apply px-4 overflow-y-auto min-h-0;

        p,
        ul {
          @apply my-2;
        }
        ul {
          @apply list-disc ml-4;
        }
        code {
          @apply bg-gray-100 rounded-sm px-1;
        }
      }

      footer {
        @apply flex justify-end px-4 pb-4 pt-2;
        button + button {
          @apply ml-4;
        }
      }

      &.show {
        @apply grid;
      }
    }
  }
}

/** motd **/

#motd {
  display: none;
  padding: 0.5rem 20%;
  text-align: center;
  font-size: 0.875em;
  font-weight: bold;

  &.visible {
    display: block;
  }

  &.priority-high {
    background-color: #f8a;
  }

  &.priority-med {
    background-color: #fc6;
  }

  p {
    margin: 0;

    & + p {
      margin-top: 0.5em;
    }
  }
}

/*** Course search/schedule column ***/

#course-search-schedule-column {
  @apply grid gap-y-4 min-h-0;
  grid-area: content;
  grid-template-rows: auto 1fr;
}

#course-search-toggle-wrapper,
#schedule-toggle-wrapper {
  flex-grow: 1;
  flex-basis: 0;
}

#course-search-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#schedule-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#schedule-column {
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#schedule-column.hidden {
  display: none;
}

/** Course search **/

#course-search-column {
  @apply grid min-h-0;
  grid-template-rows: auto 1fr;
}

#course-search-column.hidden {
  display: none;
}

#course-search-results {
  @apply overflow-y-auto;
  min-height: 0;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
  &.inactive {
    @apply overflow-y-hidden;
  }
}

#course-search-results-list {
  height: 0;
  position: relative;
  margin-top: -0.5rem;
}

#course-search-results-placeholder {
}

/*** Course search header bar ***/

#course-search-bar {
  @apply pb-4;
}

#course-search-course-name-input {
  @apply flex-grow border border-solid border-gray-200 py-1 px-2 text-sm transition-all;
  outline: 0.25rem solid transparent;
  &:focus {
    @apply border-blue-400;
    outline-color: theme(colors.blue.200);
  }
}

#filter-button-wrapper,
#print-dropdown-wrapper {
  @apply relative flex;

  ul {
    @apply absolute top-full right-0 invisible z-20 bg-white shadow p-0 text-xs transition-all opacity-0;

    li {
      @apply px-2 py-1 whitespace-nowrap cursor-pointer transition-colors;

      &:hover,
      &:focus {
        background-color: #f5f5f5;
      }
    }

    li label {
      @apply block grid gap-x-1;
      grid-template-columns: auto 1fr;
    }
    li input {
    }
  }

  &.show ul {
    @apply opacity-100 visible;
  }
}

#help-button {
  margin-left: 1rem;
}

/*** Course search end of list ***/

#course-search-results-end {
  margin: 0.5rem 1rem 1rem 1rem;
  text-align: center;
  color: gray;
}

/** Selected courses **/

/*** Selected courses header bar ***/

#selected-courses-bar {
  @apply justify-end pt-4 px-4;
  #sidebar-close {
    @apply mr-auto;
  }
}

#import-export-data-button {
}

//.print-btn {
//  white-space: nowrap;
//  padding: 3px 8px;
//  min-width: 0;
//  cursor: pointer;
//  background-color: white;
//}
//
//.print-btn:hover {
//  background-color: #e9ecef;
//}

#settings-button {
}

#settings-button:hover {
}

/*** Course description box ***/

#minimize-outer {
  @apply transition-all;
  height: 0px;
  overflow: hidden;
  flex-shrink: 0;
}

#course-description-minimize {
}

#selected-courses-wrapper {
  @apply overflow-y-scroll;
}

#course-description-box-outer {
  @apply block transition-all border border-solid border-transparent h-0 text-center overflow-y-hidden mx-4 mb-4;
}

#course-description-box-outer.course-description-box-visible {
  border: 1px solid #cccccc;
}

#course-description-box {
  padding: 10px 0;
}

#course-description-box p {
  font-size: small;
  margin: 0px 10px;
}

#course-description-box hr {
  font-size: small;
  margin: 10px 0;
}

/*** Schedule ***/

#schedule-table {
  display: grid;
  grid-template-columns: 4rem repeat(5, 1fr);
  grid-template-rows: 2rem repeat(calc(12 * 16), calc(4rem / 12));
  margin: 0 1rem;
}

#schedule-table .schedule-day {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-weight: bold;
  font-size: 0.875rem;
  overflow-x: hidden;
}

#schedule-table .schedule-day-column {
  grid-row-start: 2;
  grid-row-end: -1;
}

#schedule-table .schedule-day-column.odd {
  background-color: whitesmoke;
}

#schedule-table .monday {
  grid-column-start: calc(1 + 1);
}
#schedule-table .tuesday {
  grid-column-start: calc(2 + 1);
}
#schedule-table .wednesday {
  grid-column-start: calc(3 + 1);
}
#schedule-table .thursday {
  grid-column-start: calc(4 + 1);
}
#schedule-table .friday {
  grid-column-start: calc(5 + 1);
}

#schedule-table .schedule-hour {
  grid-column-start: 1;
  text-align: right;
  font-size: 0.75rem;
  opacity: 0.75;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
}

#schedule-table .schedule-hour-row {
  grid-column-start: 2;
  grid-column-end: -1;
  border-top: 1px solid black;
  opacity: 0.125;
}

#schedule-table .schedule-hour-1 {
  grid-row-start: calc((1 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-2 {
  grid-row-start: calc((2 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-3 {
  grid-row-start: calc((3 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-4 {
  grid-row-start: calc((4 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-5 {
  grid-row-start: calc((5 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-6 {
  grid-row-start: calc((6 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-7 {
  grid-row-start: calc((7 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-8 {
  grid-row-start: calc((8 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-9 {
  grid-row-start: calc((9 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-10 {
  grid-row-start: calc((10 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-11 {
  grid-row-start: calc((11 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-12 {
  grid-row-start: calc((12 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-13 {
  grid-row-start: calc((13 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-14 {
  grid-row-start: calc((14 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-15 {
  grid-row-start: calc((15 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-16 {
  grid-row-start: calc((16 - 1) * 12 + 2);
}

.schedule-slot-wrapper {
  grid-column-end: span 1;
  display: grid;
  overflow-y: hidden;
}

.schedule-slot {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.schedule-slot-starred {
  /* nothing to do here */
}

.schedule-slot-starred::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0;
  height: 0;
  border-top: solid #bbbbbb 1rem;
  border-right: solid transparent 1rem;
  mix-blend-mode: multiply;
}

.schedule-slot-text-wrapper {
  font-size: 75%;
  margin: 0;
  padding: 5px 5px;
}

.schedule-slot-text-wrapper p {
  margin: 0 auto;
}

.schedule-slot-text-wrapper .schedule-slot-course-code {
  font-weight: bold;
}

/**** Credit count ****/

#credit-count-box {
  justify-content: center;
}

#credit-count {
}

/** Course listings **/

.courses-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#course-search-results-list .course-box {
  @apply absolute;
}

/*** Course search listing ***/

/*** Selected courses listing ***/

#selected-courses-column {
  @apply min-h-0;
}

#selected-courses-list {
  @apply -mt-2;
}

/*** Import/export modal ***/

#import-export-text-area {
  font-family: monospace;
  min-height: 100px;
}

#import-export-copy-button::after {
  content: "To clipboard";
}

#import-export-copy-button.copy-button-copied::after {
  content: "Copied!";
}

#import-export-copy-button.copy-button-error::after {
  content: "Couldn't copy";
}

/* Local Variables:           */
/* outline-regexp: "/\\*\\*+" */
/* End:                       */
