/*
 * To see the outline of this file from Emacs, run M-x
 * outline-minor-mode and then press C-c @ C-t.
 */

/** General styling **/

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
  font-family: "Roboto", sans-serif !important;
  border-radius: 0 !important;
}

.btn {
  cursor: pointer;

  &:disabled {
    cursor: auto;
  }
}

.dropdown-menu {
  min-width: 0;
  padding: 2px 0;
}

.hidden {
  display: none;
}

.placeholder {
  visibility: hidden;
}

.toolbar {
  display: flex;
  padding: 0;
  margin: 1rem;
  align-items: center;
  white-space: nowrap;
}

/** Page layout **/

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.columns {
  display: flex;
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

/** Column layout **/

.two-column-left {
  flex: 1 0 50%;
  max-width: 68%;
  overflow: hidden;
}

.two-column-right {
  flex: 1 0 0;
  overflow: hidden;
}

/** motd **/

#motd {
  display: none;
  padding: 0.5rem 20%;
  text-align: center;
  font-size: 0.875em;
  font-weight: bold;

  &.visible {
    display: block;
  }

  &.priority-high {
    background-color: #f8a;
  }

  &.priority-med {
    background-color: #fc6;
  }

  p {
    margin: 0;

    & + p {
      margin-top: 0.5em;
    }
  }
}

/*** Course search/schedule column ***/

#course-search-schedule-column {
  display: flex;
  flex-direction: column;
}

#course-search-schedule-toggle-bar {
  margin: 1rem 0 1rem 1rem;
}

#course-search-toggle-wrapper,
#schedule-toggle-wrapper {
  flex-grow: 1;
  flex-basis: 0;
}

#course-search-toggle {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#schedule-toggle {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: block;
  margin: 0 auto;
  width: 100%;
}

#schedule-column {
  overflow-y: auto;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

#schedule-column.hidden {
  display: none;
}

/** Course search **/

#course-search-column {
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

#course-search-column.hidden {
  display: none;
}

#course-search-results {
  overflow-y: auto;
  flex-basis: 0;
  flex-grow: 1;
  position: relative;
}

#course-search-results-list {
  height: 0;
  position: relative;
  margin-top: -0.5rem;
}

#course-search-results-placeholder {
}

/*** Course search header bar ***/

#course-search-bar {
  display: flex;
  margin: 0 0 1rem 1rem;
}

#course-search-course-name-input {
  flex-grow: 1;
}

#filter-button-wrapper {
  margin-left: 1rem;
}

#filter-button {
  margin: 0 auto;
}

#help-button {
  margin-left: 1rem;
}

.checkbox-menu li label {
  display: block;
  padding: 3px 8px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  margin: 0;
  transition: background-color 0.4s ease;
}
.checkbox-menu li input {
  margin: 0px 5px;
  top: 2px;
  position: relative;
  cursor: pointer;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
  background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
  background-color: #b8b8ff;
}

/*** Course search end of list ***/

#course-search-results-end {
  margin: 0.5rem 1rem 1rem 1rem;
  text-align: center;
  color: gray;
}

/** Selected courses **/

#selected-courses-column {
  display: flex;
  flex-direction: column;
}

/*** Selected courses header bar ***/

#selected-courses-bar {
}

#github-link {
  flex-grow: 1;
}

#import-export-data-button {
}

#print-dropdown-wrapper {
  margin-left: 1rem;
}

.print-btn {
  white-space: nowrap;
  padding: 3px 8px;
  min-width: 0;
  cursor: pointer;
  background-color: white;
}

.print-btn:hover {
  background-color: #e9ecef;
}

#settings-button-wrapper {
  margin-left: 0.5rem;
}

#settings-button {
  margin-right: 3px;
  background-color: transparent;
  color: #007bff;
  font-size: 30px;
  line-height: 1;
  padding: 0px 2px;
}

#settings-button:hover {
  color: #0069d9;
}

/*** Course description box ***/

#minimize-outer {
  margin: 0 1rem;
  height: 0px;
  overflow: hidden;
  transition: 0.1s height;
  flex-shrink: 0;
}

#course-description-minimize {
  font-size: 1rem;
  line-height: 1em;
  width: 100%;
  padding: 0.25rem 0.5rem;
}

#selected-courses-wrapper {
  overflow-y: auto;
}

#course-description-box-outer {
  display: block;
  border: 1px solid transparent;
  height: 0px;
  flex-shrink: 0;
  text-align: center;
  /*margin-top: 10px;
    margin-bottom: 5px;*/
  overflow: hidden;
  transition: height 0.2s, border 0.2s;
  margin: 0 1rem 1rem 1rem;
}

#course-description-box-outer.course-description-box-visible {
  border: 1px solid #cccccc;
}

#course-description-box {
  padding: 10px 0;
}

#course-description-box p {
  font-size: small;
  line-height: 100%;
  margin: 0px 10px;
}

#course-description-box hr {
  font-size: small;
  line-height: 100%;
  margin: 10px 0;
}

/*** Schedule ***/

#schedule-table {
  display: grid;
  grid-template-columns: 4rem repeat(5, 1fr);
  grid-template-rows: 2rem repeat(calc(12 * 16), calc(4rem / 12));
  margin: 0 1rem;
}

#schedule-table .schedule-day {
  text-align: center;
  grid-row-start: 1;
  grid-row-end: span 1;
  font-weight: bold;
  font-size: 0.875rem;
  overflow-x: hidden;
}

#schedule-table .schedule-day-column {
  grid-row-start: 2;
  grid-row-end: -1;
}

#schedule-table .schedule-day-column.odd {
  background-color: whitesmoke;
}

#schedule-table .monday {
  grid-column-start: calc(1 + 1);
}
#schedule-table .tuesday {
  grid-column-start: calc(2 + 1);
}
#schedule-table .wednesday {
  grid-column-start: calc(3 + 1);
}
#schedule-table .thursday {
  grid-column-start: calc(4 + 1);
}
#schedule-table .friday {
  grid-column-start: calc(5 + 1);
}

#schedule-table .schedule-hour {
  grid-column-start: 1;
  text-align: right;
  font-size: 0.75rem;
  opacity: 0.75;
  margin-right: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 0;
}

#schedule-table .schedule-hour-row {
  grid-column-start: 2;
  grid-column-end: -1;
  border-top: 1px solid black;
  opacity: 0.125;
}

#schedule-table .schedule-hour-1 {
  grid-row-start: calc((1 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-2 {
  grid-row-start: calc((2 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-3 {
  grid-row-start: calc((3 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-4 {
  grid-row-start: calc((4 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-5 {
  grid-row-start: calc((5 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-6 {
  grid-row-start: calc((6 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-7 {
  grid-row-start: calc((7 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-8 {
  grid-row-start: calc((8 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-9 {
  grid-row-start: calc((9 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-10 {
  grid-row-start: calc((10 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-11 {
  grid-row-start: calc((11 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-12 {
  grid-row-start: calc((12 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-13 {
  grid-row-start: calc((13 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-14 {
  grid-row-start: calc((14 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-15 {
  grid-row-start: calc((15 - 1) * 12 + 2);
}
#schedule-table .schedule-hour-16 {
  grid-row-start: calc((16 - 1) * 12 + 2);
}

.schedule-slot-wrapper {
  z-index: 1;
  grid-column-end: span 1;
  display: grid;
  overflow-y: hidden;
}

.schedule-slot {
  overflow: hidden;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  text-align: center;
  position: relative;
}

.schedule-slot-starred {
  /* nothing to do here */
}

.schedule-slot-starred::before {
  content: "";
  position: absolute;
  top: 0%;
  left: 0%;
  width: 0;
  height: 0;
  border-top: solid #bbbbbb 1rem;
  border-right: solid transparent 1rem;
  mix-blend-mode: multiply;
}

.schedule-slot-text-wrapper {
  font-size: 75%;
  line-height: 125%;
  margin: 0;
  padding: 5px 5px;
}

.schedule-slot-text-wrapper p {
  margin: 0 auto;
}

.schedule-slot-text-wrapper .schedule-slot-course-code {
  font-weight: bold;
}

/**** Credit count ****/

#credit-count-box {
  justify-content: center;
}

#credit-count {
}

/** Course listings **/

.courses-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.course-list .course-box {
  margin: 0px 1rem;
}

#course-search-results-list .course-box {
  position: absolute;
}

.course-box {
  margin: 0 auto;
  padding: 0.5rem 0;
  position: relative;
  width: 100%;
  font-size: 0.8rem;
}

.course-box-content {
  display: flex;
  cursor: pointer;
  margin: 0 1rem;
  position: relative;
}

.course-box-text {
  margin: 0;
  flex-basis: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
}

.course-box-text .course-box-course-code {
  font-weight: bold;
}

.course-box-text .course-box-course-code::after {
  content: " ";
}

.course-box-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
}

/*** Course search listing ***/

#course-search-column .course-box-select-label {
  display: none;
}

#course-search-column .course-box-star-label {
  display: none;
}

#course-search-column .course-box-add-button {
}

#course-search-column .course-box-remove-button {
  display: none;
}

/*** Selected courses listing ***/

#selected-courses-column .course-box-select-label {
  margin: 0;
  padding: 0.25rem 0.5rem;
}

#selected-courses-column .course-box-select-icon {
  font-size: 1rem;
  line-height: 1em;
}

#selected-courses-column .course-box-select-toggle {
  display: none;
}

#selected-courses-column .course-box-star-toggle {
  display: none;
}

#selected-courses-column .course-box-star-label {
  margin: 0;
  padding: 0.25rem 0.25rem;
  line-height: 1em;
}

#selected-courses-column .course-box-star-icon {
  font-size: 1rem;
  cursor: pointer;
}

#selected-courses-column .course-box-remove-button {
}

#selected-courses-list {
  margin-top: -0.5rem;
}

/** Modals **/
.modal-input-text {
  font-family: Courier New !important;
}

/*** Import/export modal ***/

#import-export-text-area {
  font-family: monospace;
  min-height: 100px;
}

#import-export-copy-button::after {
  content: "To clipboard";
}

#import-export-copy-button.copy-button-copied::after {
  content: "Copied!";
}

#import-export-copy-button.copy-button-error::after {
  content: "Couldn't copy";
}

/* Local Variables:           */
/* outline-regexp: "/\\*\\*+" */
/* End:                       */
