/* General styling */
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

* {
    font-family: 'Roboto', sans-serif !important;
    font-size: 10px;
}

/* Page layout */

body {
    margin: 0;
    padding: 0;
}

/* Column layout */

.two-column-left {
    float: left;
    height: 100%;
    overflow-y: auto;
    width: 100%;
}

.toolbar {
    text-align: center;
    width: 95%;
    display: table;
}

/* Course search and schedule */

#course-search-schedule-column {
}

#course-search-schedule-toggle-bar {
    display: none !important;
}

/* Schedule */

#schedule-column {
    border-collapse: initial !important;
}

#schedule-table {
    border: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    position: relative;
    table-layout: fixed;
    text-align: center;
    width: 95%;

    page-break-inside: auto;
}

#schedule-table tr {
    page-break-inside: avoid;
    page-break-after: auto;
}

#schedule-table th {
    height: 40px;
}

#schedule-table td {
    border: 1px solid #cccccc;
    height: 40px;
}

.schedule-slot-wrapper {
    justify-content: center;
    
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    width: 16.6667%;

    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    margin-right: 1px;
    margin-bottom: 1px;
}

.schedule-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.schedule-slot-starred {
}

.schedule-slot-starred::before {
    content: "";
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0;
    height: 0;
    border-top: solid #bbbbbb 1em;
    border-right: solid transparent 1em;
    mix-blend-mode: multiply;
}

.schedule-slot-text-wrapper {
    font-size: 8px;
    line-height: 125%;
    margin: 0;
    padding: 5px 5px;
}

.schedule-slot-text-wrapper p {
    margin: 0 auto;
}

.schedule-slot-text-wrapper .schedule-slot-course-code {
    font-weight: bold;

}

#credit-count-box {
    margin-bottom: 10px !important;
}

#credit-count {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Course search */

#course-search-column {
    /* nothing to do here */
    display: none !important;
}

/* Selected courses */

#selected-courses-column {
    display: none !important;
}
