.root {
    & p.description {
        margin: 0;
    }

    /* for links placed in course descriptions like some PE*/

    & a {
        &,
        &:visited {
            color: var(--fg-2);
            text-decoration: underline var(--fg-2);
        }
    }

    & section {
        margin: 0.25rem 0;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-column-gap: 0.5rem;
        align-items: baseline;

        & h3 {
            margin: 0;
            font-size: 1em;
        }

        & ul {
            margin: 0;
            padding: 0;
        }

        &.credits {
        }

        &.instructors li,
        &.areas li,
        &.schedule li,
        &.history li {
            list-style-type: none;
        }

        &.instructors ul,
        &.areas ul,
        &.history ul {
            display: flex;
            gap: 0.5em;
            flex-wrap: wrap;
        }

        &.areas li,
        &.history li:not(.none) {
            font-size: 0.875em;
            font-weight: 500;
            list-style-type: none;
            background-color: var(--bg-2);
            padding: 0.125em 0.5em;
            border-radius: 0.25em;
            transition: background-color var(--theme-transition-duration);
        }

        &.instructors li:not(:last-child) {
            &::after {
                content: ",";
            }
        }

        &.areas li {
            &.hmc,
            &.ptz {
                color: hsl(40, 10%, 10%);
            }

            &.pom,
            &.scr,
            &.cmc {
                color: hsl(40, 25%, 90%);
            }

            &.hmc {
                background-color: gold;
            }

            &.cmc {
                background-color: maroon;
            }

            &.ptz {
                background-color: orange;
            }

            &.pom {
                background-color: blue;
            }

            &.scr {
                background-color: green;
            }
        }
    }
}
