.padder {
    padding: 0.5rem 1rem 0 1rem;
    background-color: transparent;
}

.box {
    /* TODO: two-row display on small screens (will also have to re-fiddle with
    measure logic). question: is it possible to media query on parent container
    size, rather than screen size?
    */

    border-radius: 0.125rem;
    border: 1px solid var(--course-color);
    transition: border-color var(--theme-transition-duration);
    font-size: calc(7rem / 8);

    &.expand .titlebar .arrow {
        transform: rotate(90deg);
    }

    @nest [data-theme="dark"] & {
        --course-color: var(--course-color-dark);
        & .titlebar {
            color: white;
        }
    }

    @nest [data-theme="light"] & {
        --course-color: var(--course-color-light);
        & .titlebar {
            color: black;
        }
    }
}

.titlebar {
    user-select: none;
    cursor: pointer;
    white-space: nowrap;
    background-color: var(--course-color);
    padding: 0.25rem 0.25rem;
    transition: background-color var(--theme-transition-duration),
        color var(--theme-transition-duration);

    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr 1fr;

    & .summary {
        display: grid;
        grid-template-areas: "code" "title";
        align-items: center;
    }

    & .status {
        display: grid;
        grid-template-areas: "badge" "seats";

        & .badge {
            justify-self: end;
        }
    }

    @media (--viewport-medium) {
        & .summary {
            grid-template-areas: "code title";
            justify-content: left;
        }

        & .status {
            grid-template-areas: "badge seats";
        }
    }

    & .arrow {
        align-self: center;
        margin-right: 0.25rem;
        transition: transform 200ms;
    }

    & .summary {
        overflow-x: hidden;
        text-overflow: ellipsis;

        & .department {
            width: 5.5ex;
        }
        & .courseNumber {
            margin-right: 0.5em;
            font-weight: 700;
            font-size: 0.875em;
            opacity: 0.875;
        }
        & .affiliation {
            width: 4.5ex;
            text-align: right;
            &::after {
                content: "-";
            }
        }
        & .sectionNumber {
            min-width: 3ex;
        }
        & .title {
            font-weight: 500;
        }
    }
    & .status {
        margin-left: auto;
        font-weight: normal;
        font-size: calc(15em / 16);

        & .seats {
        }

        & .badge {
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            background-color: red;
            border-radius: 1rem;
            padding: 0 0.5rem;
            display: inline-block;
            text-align: center;
        }
        & .badgeOpen {
            background-color: var(--palette-green);
            &::after {
                content: "open";
            }
        }
        & .badgeClosed {
            background-color: var(--palette-red);
            &::after {
                content: "closed";
            }
        }
        & .badgeReopened {
            background-color: var(--palette-orange);
            &::after {
                content: "reopened";
            }
        }
        & .badgeUnknown {
            background-color: gray;
            &::after {
                content: "unknown";
            }
        }

        & .seatsFilled {
            display: inline-block;
            text-align: right;
            width: 3.5ex;
            font-weight: 500;
        }
        & .seatsTotal {
            display: inline-block;
            width: 3.5ex;
            font-weight: 500;
        }

        & .permCountLabel {
            visibility: hidden;
            &.nonzero {
                visibility: inherit;
            }
        }

        & .permCount {
            display: inline-block;
            text-align: center;
            font-weight: 500;
            width: 3.5ex;
        }
    }
}

.expander {
    transition: height var(--misc-transition-duration);
    overflow-y: hidden;
}

.details {
    padding: 0.5rem 1rem;
    line-height: 1.5em;
}
