.container {
    display: grid;
    grid-template-areas: "controls" "results";
    grid-template-rows: auto 1fr;
    min-height: 0;

    &.searchTransition .courseRowPosition {
        transition: none;
    }
}

.resultsContainer {
    grid-area: results;

    overflow-y: scroll;
    min-height: 0;
    position: relative;
}

.hiddenMeasureContainer {
    position: absolute;
    left: 100vw;
}

.spacer {
    padding-bottom: 0.5rem;
}

.courseRowPosition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    transition: transform var(--misc-transition-duration);
}

.end {
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    color: var(--fg-1);
    display: block;
    left: 0;
    right: 0;
}

.historicalSearchResults {
    text-align: center;
    border-top: 0.125rem dotted;
    margin: 0.5rem;

    & h4 {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
        margin: 0;
    }
}
