.bubble {
    display: grid;
    grid-template-columns: auto auto;

    & .filterKey {
        display: block;
        background-color: var(--bg-2);

        border-bottom-left-radius: 0.5em;
        border-top-left-radius: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;

        border-right: 1px solid var(--fg-1);
    }

    & .filterData {
        padding-left: 0.5em;

        display: flex;
        align-items: center;

        background: var(--bg-1);

        border-bottom-right-radius: 0.5em;
        border-top-right-radius: 0.5em;
    }

    & input {
        min-width: 1em;
        background: var(--bg-1);
        color: inherit;
        font: inherit;
        border: none;
        outline: none;
    }

    & .closeIcon {
        height: 0.875em;
        width: 0.875em;
        border-radius: 1em;
        //color: var(--fg-1);
        opacity: 50%;

        &:hover {
            background: var(--bg-0);
        }
    }

    & .measure {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        z-index: -100;
    }
}

.sizer {
    display: grid;
    grid-template-areas: "main";

    & .input {
        grid-area: main;
        padding: 0;
    }
    & .mirror {
        grid-area: main;
        white-space: pre;
        visibility: hidden;
        padding-right: 0.5em;
    }
}

.courseArea {
    position: relative;

    & .input {
        color: red;
        min-width: 1em;
    }

    &[data-selected] .input,
    & .input:focus {
        color: inherit;
    }

    & .dropdown {
        display: none;

        position: absolute;
        top: 100%;
        z-index: 2;
        background-color: var(--bg-1);

        max-height: min(24em, 80vh);
        box-shadow: 0 0 0.5em var(--shadow-color);
        overflow-y: auto;

        /*seems like portal truncates all course area descriptions to 24 characters*/
        width: 24ch;

        & .item {
            cursor: pointer;
            padding: 0.25em 0.5em;
            position: relative;
            &:not(:last-child) {
                border-bottom: 1px solid var(--bg-2);
            }

            &[data-highlight] {
                background-color: var(--select);
            }

            & .campusIndicator {
                display: block;
                width: 0.5em;
                height: 0.5em;
                border-radius: 0.5em;

                position: absolute;
                right: 0.5em;
                top: 50%;
                transform: translateY(-50%);

                &.hmc {
                    background-color: rgb(232, 168, 49);
                }

                &.cmc {
                    background-color: rgb(126, 25, 48);
                }

                &.ptz {
                    background-color: rgb(245, 146, 54);
                }

                &.pom {
                    background-color: rgb(19, 88, 178);
                }

                &.scr {
                    background-color: rgb(54, 109, 91);
                }
            }
        }
    }

    &[data-focus] .dropdown {
        display: block;
    }
}
