.searchControls {
    grid-area: controls;

    display: grid;

    grid-template-areas:
        "input input"
        "term filter";
    grid-template-columns: 1fr 1fr;
    gap: 0.5em 1em;

    @media (--medium-and-up) {
        grid-template-areas: "term input filter";
        grid-template-columns: auto 1fr auto;
    }

    padding: 1rem;
    border-bottom: 1px solid var(--bg-1);
    transition: border-bottom-color var(--theme-transition-duration);

    & .termSelect {
        grid-area: term;
    }

    & .filterButton {
        grid-area: filter;

        border: none;
        background-color: var(--hbg);
        color: var(--hfg);
        font: inherit;
        display: grid;
        grid-template-columns: auto 1fr;
        align-items: center;
        column-gap: 0.5em;
        padding: 0.25rem 0.5rem;
        cursor: pointer;
    }
}

.inputGroup {
    grid-area: input;

    display: flex;
    flex-wrap: wrap-reverse;

    border: 1px solid var(--bg-1);
    padding: 0.25rem;
    transition: border-color var(--theme-transition-duration);

    & .filterGroup {
        display: flex;
        flex-wrap: wrap;
        gap: 0.25rem;
    }

    & .input {
        font: inherit;
        border: none;
        background-color: transparent;
        color: inherit;
        outline: none;

        flex-grow: 1;
    }
}
