.about {
    a,
    a:visited {
        text-decoration: none;
        color: var(--fg-0);
        border-bottom: 0.125em dashed var(--fg-1);

        display: inline-flex;
        gap: 0.25em;
        align-items: center;

        & svg {
            width: 0.75em;
            height: 0.75em;
        }
    }

    & .contributors {
        display: flex;
        flex-wrap: wrap;
        row-gap: 0.5em;
        column-gap: 1em;
    }
}
