.exportCalendar {
    a,
    a:visited {
        color: inherit;
        text-decoration: none;
        height: 1.75em;
        width: fit-content;

        & svg {
            width: 1em;
            height: 1em;
        }
    }

    & .linkContainer {
        position: relative;
        cursor: pointer;

        & .icalLink {
            font-size: 1em;
            font-family: var(--font-mono);
            overflow-x: auto;
            height: 2em;
            background-color: var(--bg-1);
            display: flex;
            align-items: center;
            padding-left: 1em;
            padding-right: 1em;
            width: fit-content;
            border-radius: 0.25em;

            max-width: calc(100% - 2em);
        }
    }

    & .scheduleWrapper {
        display: flex;
        gap: 0.5em;

        & .scheduleSelect {
            display: flex;
            height: 1.75em;
            gap: 0.25em;
            justify-content: flex-start;
            align-items: center;
        }
    }

    & .links {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.5em;
    }
}
