.title {
    margin: 0;
}

.filterTable {
    margin-top: 1.5em;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-row-gap: 1em;
    grid-column-gap: 0.25em;
    position: relative;
    justify-items: center;
    align-items: center;

    & .tableHeader {
        font-weight: 500;
        text-align: center;
    }

    & .name {
        white-space: nowrap;
    }

    & .typeable {
        & code {
            font-size: 1em;
            font-family: var(--font-mono);
        }
    }

    & .applyButton {
        font-size: 0.9em;
        width: 4em;
    }

    .nameWrapper {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;
        align-items: center;
        row-gap: 0.25em;
    }

    & .examples {
        display: flex;
        flex-wrap: wrap;

        width: 100%;

        & .bubbleWrapper {
            &:not(:last-child) {
                margin-right: 1em;
                margin-bottom: 0.25em;
            }

            display: flex;
            justify-content: space-around;
            height: fit-content;
        }
    }

    .line {
        position: absolute;
        width: 100%;
        height: 0.125em;
        background-color: var(--bg-2);
        /* half of (line height + grid row gap) */
        transform: translateY(-0.5625em);
        align-self: self-start;
    }
}
