.popupBackground {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100vw;
    height: 100dvh;
    @media (--medium-and-up) {
        backdrop-filter: blur(4px) brightness(50%);
    }

    transition: opacity var(--menu-transition-duration);

    z-index: 1000;

    & .popupBox,
    & .popupContent {
        transition:
            width var(--misc-transition-duration),
            min-height var(--misc-transition-duration);

        width: 100vw;
        height: 100dvh;
        min-height: 30dvh;

        overflow-y: auto;

        @media (--medium-and-up) {
            box-shadow: 0 0 0.5em var(--shadow-color);
            height: unset;
            max-height: 80dvh;
            border-radius: 0.25rem;
        }

        @media (--medium-only) {
            width: 40em;
            min-height: 30dvh;
        }

        @media (--viewport-large) {
            width: 50em;
            min-height: 20dvh;
        }
    }

    & .popupBox {
        background: var(--bg-0);
        position: absolute;

        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    & .popupContent {
        padding: 2rem;
    }

    & .closeButton {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: var(--fg-1);

        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
    }

    &.inactive {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
}
