.content {
    & .sectionTitle {
        margin: 0.5em 0;

        & .sectionCode {
            cursor: pointer;
            border-radius: 0.25rem;
            padding: 0.25rem 0rem 0.25rem 0.25rem;
            transition: background-color 200ms;

            &:hover {
                background-color: #0001;
            }

            &:active {
                background-color: #0002;
            }
        }
    }
}
