.settings {
    @define-mixin two-column-grid {
        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: start;
        gap: 0.25em 0.5em;
    }

    & a,
    & a:visited {
        text-decoration: none;
    }

    & h2.title {
        text-align: center;
        margin: 0;
    }

    & .button {
        height: 2em;
    }

    & .appearance {
        @mixin two-column-grid;

        & .title {
            grid-column: 1 / -1;
        }
    }

    & .sectionConflict {
        @mixin two-column-grid;

        & .title {
            grid-column: 1 / -1;
        }
    }

    & .dataViewer {
        a,
        a:visited {
            width: fit-content;
        }
    }

    & .account {
        & .caution {
            color: red;
            font-weight: 500;
        }

        & .accountDetails {
            @mixin two-column-grid;

            transition:
                max-height var(--misc-transition-duration),
                margin-bottom var(--misc-transition-duration);
            max-height: 0;
            overflow: clip;

            & .userFieldDesc {
                grid-column: 1;
                font-weight: 500;
            }

            & .userFieldValue {
                grid-column: 2;
            }

            &.show {
                max-height: 10em;
                margin-bottom: 1em;
            }
        }

        & .buttons {
            display: flex;
            gap: 0.5em;
        }
    }

    .issues {
        & a,
        & a:visited {
            color: var(--fg-1);
            display: inline-flex;
            align-items: center;
            gap: 0.25em;
            border-bottom: 0.125em var(--fg-1) dashed;

            & svg {
                width: 1em;
                height: 1em;
            }
        }
    }
}
