.settings {
    h2.title {
        text-align: center;
        margin: 0;
    }

    .button {
        height: 2em;
    }

    .appearance {
        & .title {
            grid-column: 1 / -1;
        }

        display: grid;
        grid-template-columns: auto 1fr;
        justify-items: start;
        gap: 0.25em 0.5em;
    }

    .account {
    }
}
