.shareSchedule {
    & .scheduleWrapper {
        display: flex;
        gap: 0.5em;

        & .scheduleSelect {
            display: flex;
            height: 1.75em;
            gap: 0.25em;
            justify-content: flex-start;
            align-items: center;
        }
    }

    & .linkContainer {
        position: relative;
        cursor: pointer;

        & .shareLink {
            font-size: 1em;
            font-family: var(--font-mono);
            overflow-x: auto;
            height: 2em;
            background-color: var(--bg-1);
            display: flex;
            align-items: center;
            padding-left: 1em;
            padding-right: 1em;
            min-width: 5em;
            width: fit-content;
            border-radius: 0.25em;

            max-width: calc(100% - 2em);
        }
    }

    & .linkRow {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    & .disabled {
        cursor: not-allowed;
        font-style: italic;
    }
}
